*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu Mono', Arial, sans-serif;
}


:root{
    /* --- basic colors here --- */

    --text: black;
    --tiles: #828585;
    --board: #515151;
    --neon: #fefefe;
    --neon-glow: #ffffff;
    --tabs: #dc861c;
}

/* --- generic styling --- */

header{
    display: flex;
    justify-content: center;
}

header > img{
    height: 110px;
    width: 800px;
    margin-top: 20px; 
    
}

body{
    background-image: url("../assets/background.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

ul{
    list-style: none; 
}


#board{
    background-color:var(--board);
    height: auto;
    width: 1100px;
    margin: 40px;
    border-radius: 25px;
    padding: 20px;

}

#top{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

/* --- buttons --- */

.material-symbols-rounded{
    font-size: 40px;
}

.func-button{
    background-color:rgb(28, 26, 26);
    color: white;
    padding: 0.5rem;
    font-weight: 800;
    border:1px solid var(--text);
    border-radius:20px;
    width: 80px;
    height: 60px;
    font-size: large;
    cursor: pointer;
    box-shadow: 0px 6px 0px black;
}

.func-button:active{
    border: none;
    box-shadow: none;
    transform: translate(0px,6px);
}

.func-button-on{
    /* background-color: #8B0000; */
    color: white;
    cursor: pointer;

}

.setup-button{
    /* distinct look for the setup-button */
    color: black;
    background-color: rgb(17, 136, 27);
    padding: 0.5rem;
    font-weight: 600;
    border:1px solid var(--text);
    border-radius:20px;
    width: 80px;
    height: 50px;
    font-size: large;
    cursor: pointer;
}

#demos{
    display: flex;
    margin-left: 70px;
    margin-bottom: 20px;
    column-gap: 40px;
    padding-left: 150px;
}

.demo{
    height: 65px;
    width: 65px;
    border-radius: 50%;
    border: none;
    background-color: #CC5500;
    font-weight: 800;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 3px 6px 0px #a24401;
}

.demo:active{
    border: none;
    box-shadow: none;
    transform: translate(0px,6px);
}

/* --- drop downs --- */

#kit-drop, #effect_drop {
    width: 140px;
    height: 30px;
    background-color: black;
    color: white;
    font-size: large;
    cursor: pointer;
    margin-top: 12px;
}

#kit-drop{
    background-color: orange;
}

/* --- tile-rows --- */

.row{
    display: flex;
    flex-flow: row nowrap;
}

#sound-1, #sound-2, #sound-3, #sound-4, #sound-5, #sound-6{
    border-top: solid;
    padding-top: 3px;
}

.part{
    margin-left: 8px;
}

.row>li>button{
    margin:0 0.2em;
}

.tile, .num{
    /* styling of tiles */
    height: 40px;
    width: 40px;
    border: 1px solid var(--text);
    border-radius: 20%;
    background-color: var(--tiles);
}

.tile{
    cursor: pointer;
    box-shadow: inset 5px 5px 5px  rgba(0,0,0,0.5);
}

.num{
    border: none;
    background-color: var(--background);
    display: inline-flex; /* keep the inline nature of buttons */
    align-items: flex-start;
    justify-content: center;
    font-size: large;  
}

.tile-on{
    /* changes the tile color if clicked */
    border: 1px solid var(--neon);
    box-shadow: 
    0 0 50px var(--neon-glow), 
    inset 0 0 50px var(--neon-glow);
}

.sound-name{
    color:var(--text);
    align-self: center;
    font-size: larger;
    width: 50px;
    cursor: pointer;
    text-shadow: 2px 2px 5px orange;
}

.sound-name:active{
    font-size: 20px;
    font-weight: 800;
}


.bar-marker{
    margin-left: 50px;
}

.mark-tile{
    /*  */
    height: 10px;
    width: 40px;
    background-color: var(--tiles);
    border-radius: 30%;
    pointer-events: none;
}

.animate-tile{
    /* this class is applied to the mark-tile 
    right when the play-iteration iterates the step */
    border: 1px solid var(--text);
    box-shadow: 
    0 0 50px var(--neon-glow), 
    inset 0 0 50px var(--neon-glow);
}

/* --- sliders --- */

#gainerlab{
    font-size: larger;
    font-weight: 300;
}

.sound-sliders{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin-left: 10px;
    margin-top: 5px;
}

.slider, #bpm-range{
    margin: auto;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: 10px;
    width: 150px;
    cursor: pointer;
    border-radius: 5px;
}

.slider::-webkit-slider-runnable-track, #bpm-range:-webkit-slider-runnable-track{
    background: #ddd;
}

.slider::-webkit-slider-thumb, #bpm-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px; 
    height: 40px;
    background: black;
    box-shadow: -200px 0 0 200px #0c811c;
    border: 2px solid #999; 
}

.slider::-moz-range-track, #bpm-range::-moz-range-track {
    height: 40px;
    background: #ddd;
}

.slider::-moz-range-thumb, #bpm-range::-moz-range-thumb {
    background: black;
    height: 40px;
    width: 20px; 
    border: 3px solid #999; 
    border-radius: 0 !important;
    box-shadow: -200px 0 0 200px #0c811c;
    box-sizing: border-box;
}

.slider::-ms-fill-lower, #bpm-range::-ms-fill-lower { 
    background: #0c811c;
}

.slider::-ms-thumb, #bpm-range::-ms-thumb { 
    background: #fff;
    border: 2px solid #999;
    height: 40px;
    width: 20px;
    box-sizing: border-box;
}

.slider::-ms-ticks-after, #bpm-range::-ms-ticks-after { 
    display: none; 
}

.slider::-ms-ticks-before, #bpm-range::-ms-ticks-before { 
    display: none; 
}

.slider::-ms-track, #bpm-range::-ms-track { 
    background: #ddd;
    color: transparent;
    height: 40px;
    border: none;
}

.slider::-ms-tooltip, #bpm-range::-ms-tooltip { 
    display: none;
}


/* --- bpm section --- */

#bpm-area{
    margin-top: 18px;
}

#bpm-range{
    width: 180px;
    height: 15px;
}

#bpm-text{
    height: 30px;
    width: 40px;
    font-weight: 800;
    font-size: large;
    text-align: center;
    background-color: black;
    color: white;
}

#bpm-area label{
    font-weight: 800;
    font-size: large;
}


#bpm-area>input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* hides the number arrows in the bpm thing*/
    -webkit-appearance: none;

}

/* --- tabs --- */

.tab{
    width: 155px;
    height: 100px;
    font-size: 25px;
    font-weight: 800;
    border: none;
    cursor: pointer;
    background-color: #dc861c;
    color: var(--text);
    border-radius: 8px;
    box-shadow: 0px 6px 0px #b26910;
}

.tab:active{
    border: none;
    box-shadow: none;
    transform: translate(0px,6px);
}

.tab-pressed{
    border: none;
    box-shadow: none;
    transform: translate(0px,6px);
}

#tabs{
    margin-left: 40px;
}

.tab p{
    font-size: 20px;
    font-weight: 200;
}

/* --- toggle switch button --- */

.switch input {
    display: none
  }
  
  .on,.off {
    position: absolute;
    text-align: center;
    text-shadow: inset 1px 1px 1px black;
    width: 100%;
  }
  
  .off {
    color: #fff;
    top: 10px;
    transition: all 0.1s;
  }
  
  .on {
    color: #636161;
    bottom: 5px;
    transition: all 0.1s;
    transform: scaleY(0.85);
  }
  
  .but {
    background-color: #000;
    border-radius: 400px 400px 400px 400px / 400px 400px 300px 300px;
    border-bottom-width: 0px;
    box-shadow: inset 8px 6px 5px -7px rgba(0,0,0,1)
      ,inset -8px 6px 5px -7px rgba(0,0,0,1)
      ,inset 0 -3px 2px -2px rgba(200,200,200,.5)
      ,0 3px 3px -2px rgba(0,0,0,1)
      ,inset 0 -230px 60px -200px rgba(255,255,255,.2)
      ,inset 0 220px 40px -200px rgba(0,0,0,.3);
    display: block;
    font-size: 17px;
    height: 60px;
    position: relative;
    transition: all 0.2s;
    width: 40px;
  }
  
  .back {
    background-color: #000;
    background-image: -webkit-linear-gradient(0deg, transparent 30%, transparent 65%)
      ,-webkit-linear-gradient(0deg, rgba(245, 245, 245, 0) 30%, rgba(150,150,150,.1) 50%, rgba(150,150,150,0) 70%);
    border-radius: 115px;
    box-sizing: border-box;
    height: 85px;
    padding: 4px 4px;
    transition: all 0.2s;
    width: 50px;
  }
  
  input:checked + .back .on,input:checked + .back .off {
    text-shadow: inset 1px 1px 1px black;
  }
  
  input:checked + .back .off {
    color: rgb(141, 141, 141);
    top: 10px;
    transform: scaleY(0.85);
  }
  
  input:checked + .back .on {
    color: #fff;
    bottom: 5px;
    transform: scaleY(1);
  }
  
  input:checked + .back .but {
    background: #232323;
    background-image: -webkit-radial-gradient(55% 18%,circle closest-corner,rgba(0,0,0,.3) ,rgba(0,0,0,0));
    border-radius: 410px 410px 410px 410px / 310px 310px 410px 410px;
    box-shadow: inset 8px -4px 5px -7px rgba(0,0,0,1)
      ,inset -8px -4px 5px -7px rgba(0,0,0,1)
      , 0 -3px 8px -4px rgba(250,250,250,.4)
      ,inset 0 3px 4px -2px rgba(10,10,10,1)
      ,inset 0 280px 40px -200px rgba(0,0,0,.2)
      ,inset 0 -200px 40px -200px rgba(180,180,180,.2);
    margin-top: 20px;
  }
  
  input:checked + .back {
    background-image: -webkit-linear-gradient(90deg, black 30%, transparent 65%)
      ,-webkit-linear-gradient(180deg, rgba(250,250,250,0) 0%, rgba(250,250,250,.4) 50%, rgba(150,150,150,0) 100%);
    box-shadow: 28px 28px 28px -28px rgba(0,0,0,.1)
      ,-28px 28px 28px -22px rgba(0,0,0,.1)
      ,0 30px 30px 0px rgba(0,0,0,.2)
      ,inset 0 1px 2px 0 rgba(0,0,0,.6);
    padding: 2px 4px;
  }
  
  .l,.r {
    margin: 0 auto;
    text-align: center;
  }
  
  .round,#onoff,.back,.but,.on,.off {
    user-select: none;
  }