*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu Mono', Arial, sans-serif;
}


:root{
    /* --- basic colors here --- */

    --text: black;
    --tiles: #828585;
    --board: #515151;
    --neon: #fefefe;
    --neon-glow: #ffffff;
    --tabs: #dc861c;
}

/* --- generic styling --- */

header{
    display: flex;
    justify-content: center;
}

header > img{
    height: 110px;
    width: 800px;
    margin-top: 20px; 
    
}

body{
    background-image: url("../assets/background.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

ul{
    list-style: none;
    
}


#board{
    background-color:var(--board);
    height: 60vh;
    width: 70vw;
    margin: 40px;
    border-radius: 25px;

}


/* --- buttons --- */

.func-button{
    background-color:black;
    color: white;
    padding: 0.5rem;
    font-weight: 800;
    border:1px solid var(--text);
    border-radius:20px;
    width: 80px;
    height: 60px;
    font-size: large;
}

.func-button-on{
    background-color: #8B0000;
    color: black;

}

.setup-button{
    /* distinct look for the setup-button */
    color: black;
    background-color: rgb(17, 136, 27);
    padding: 0.5rem;
    font-weight: 600;
    border:1px solid var(--text);
    border-radius:20px;
    width: 80px;
    height: 50px;
    font-size: large;
}

#user-buttons{
    display: flex;
    margin-left: 70px;
    margin-bottom: 30px;
    column-gap: 40px;
}

.demo, .save{
    height: 65px;
    width: 65px;
    border-radius: 50%;
}

/* --- drop downs --- */

#kit-drop, #effect_drop {
    width: 140px;
    height: 30px;
    background-color: black;
    color: white;
    font-size: large;
}


/* --- tile-rows --- */

.row{
    display: flex;
    flex-flow: row nowrap;
}

#sound-1, #sound-2, #sound-3, #sound-4, #sound-5, #sound-6{
    border-top: solid;
    padding-top: 3px;
}

.part{
    margin-left: 8px;
}

.row>li>button{
    margin:0 0.2em;
}

.tile, .num{
    /* styling of tiles */
    height: 40px;
    width: 40px;
    border: 1px solid var(--text);
    border-radius: 20%;
    background-color: var(--tiles);
}

.num{
    border: none;
    background-color: var(--background);
    display: inline-flex; /* keep the inline nature of buttons */
    align-items: flex-start;
    justify-content: center;
    font-size: large;  
}

.tile-on{
    /* changes the tile color if clicked */
    border: 1px solid var(--neon);
    box-shadow: 
    0 0 50px var(--neon-glow), 
    inset 0 0 50px var(--neon-glow);
}

.sound-name{
    color:var(--text);
    align-self: center;
    font-size: larger;
    width: 50px;
}


.bar-marker{
    /* change this when I team everything in a grid */
    margin-left: 50px;
}

.mark-tile{
    /*  */
    height: 10px;
    width: 40px;
    background-color: var(--tiles);
    border-radius: 30%;
}

.animate-tile{
    /* this class is applied to the mark-tile 
    right when the play-iteration iterates the step */
    border: 1px solid var(--text);
    box-shadow: 
    0 0 50px var(--neon-glow), 
    inset 0 0 50px var(--neon-glow);
}

/* --- sliders --- */

#range-1, #range-2, #range-3, #range-4, #range-5, #range-6{
    width: 100px;
    

}

/* --- bpm section --- */

#bpm-area{
    /* container for the + - bpm buttons */
    display: flex;
    gap: 10px;
    height: 20px;
}

.small-button{
    /* styling for the + - bpm buttons */
    /* not used */
    width: 15px;

}

#bpm-area>*{
    color: var(--text);
}

#bpm-area>input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* hides the number arrows in the bpm thing*/
    -webkit-appearance: none;

}

#bpm-area>input{
    text-align: center;
    color:var(--background);
}

/* --- tabs --- */
.tab {
    background: #c36d04;
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    width: 155px;
  }
.front-tab {
    display: block;
    padding: 40px 45px;
    border-radius: 12px;
    font-size: 3rem;
    background: #dc861c;
    color: var(--text);
    transform: translateY(-8px);
}

.tab:active .front-tab {
    transform: translateY(-2px); 
}

#tabs{
    margin-left: 40px;
}


@media only screen and (max-width: 1450px) {
    
    #board{
        width: 60vw;
        height: 55vh;
    }

    .tile{
        width: 30px;
        height: 30px;
    }
}

